/* Header.module.css */
/* Basic animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* H1 visibility */
.headerTitle {
  opacity: 0;
  transition: opacity 0.8s;
}

.headerTitleVisible {
  opacity: 1;
}

/* Highlight text styling and animation */
.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
  transition: width 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.highlightActive::after {
  width: 100%;
}

/* Image animation */
.heroImage {
  opacity: 0;
  animation: slideInRight 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-play-state: paused;
}

.heroImageVisible {
  animation-play-state: running;
  animation-delay: 0s;
}

/* Utility classes */
.fadeIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-play-state: paused;
}

.fadeInLate {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-play-state: paused;
}

.animationActive {
  animation-play-state: running;
}