/* Operations.module.css */
.sectionHidden {
  opacity: 0;
  transform: translateY(8rem);
  transition: transform 1s, opacity 1s;
}

/* Tab animations */
.tab {
  transform: translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

.tabActive {
  transform: translateY(-66%);
}

/* Content animations */
@keyframes fadeInContent {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  display: none;
  opacity: 0;
}

.contentActive {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
  animation: fadeInContent 0.5s forwards;
}

/* Icon animations */
@keyframes pulseIcon {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.icon {
  transition: background-color 0.3s;
}

.iconActive {
  animation: pulseIcon 0.5s;
}